@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 auth gap-4">
            <a href="/" class="text-decoration-none text-left text-black me-auto fw-bold">Inside Airbnb</a>
            <LoginDisplay/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>