@inject IJSRuntime JsRuntime

@inject IConfiguration Configuration

<div>
    <div id="map"></div>
    <Filters/>
</div>

@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        JsRuntime.InvokeVoidAsync("mapbox.init", $"{Configuration["apiUrl"]}/api/neighbourhoods?geojson=true", $"{Configuration["apiUrl"]}/api/listings?geojson=true");
    }
}