@inject IJSRuntime JsRuntime

<div>
    <div id="map" style="width: 100%; height: 60vh;"></div>
    <Filters/>
</div>

@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        JsRuntime.InvokeVoidAsync("mapbox.init");
    }
}