@inject IJSRuntime JsRuntime

@inject IConfiguration _configuration

<div>
    <div id="map" style="width: 100%; height: 60vh;"></div>
    <Filters/>
</div>

@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        JsRuntime.InvokeVoidAsync("mapbox.init", $"{_configuration["apiUrl"]}/api/neighbourhoods?geojson=true", $"{_configuration["apiUrl"]}/api/listings?geojson=true");
    }
}