@page "/admin"
@using Microsoft.AspNetCore.Authorization
@using Inside_Airbnb.Shared
@inject IJSRuntime JS
@inject IHttpClientFactory ClientFactory
@attribute [Authorize]
@attribute [Authorize(Roles = "administrator")]

<h3>Admin</h3>
<div class="d-flex justify-content-center flex-wrap gap-3">
    <div class="d-block" style="max-width: 500px; max-height: 500px; text-align: center;">
        Average price of listing
        <canvas id="neighbourhoodsChart" width="400px" height="400px"></canvas>
    </div>
    <div class="d-block" style="max-width: 500px; max-height: 500px; text-align: center;">
        Amount of listings for top 20 property types
        <canvas id="propertyChart" width="400px" height="400px"></canvas>
    </div>
    <div class="d-block" style="max-width: 500px; max-height: 500px; text-align: center;">
        Amount of listings with room type
        <canvas id="roomChart" width="400px" height="400px"></canvas>
    </div>
    <div class="d-block" style="max-width: 500px; max-height: 500px; text-align: center;">
        Amount of reviews over time
        <canvas id="reviewsChart" width="400px" height="400px"></canvas>
    </div>
</div>

@code {
    private NeighbourhoodsStats? NeighbourStats { get; set; }
    private PropertyTypesStats? PropertyStats { get; set; }
    private RoomTypesStats? RoomStats { get; set; }
    private ReviewsPerDateStats? ReviewsStats { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var client = ClientFactory.CreateClient("WebApiAuth");
            NeighbourStats = await client.GetFromJsonAsync<NeighbourhoodsStats>("https://localhost:7000/api/statistics/neighbourhoods");
            PropertyStats = await client.GetFromJsonAsync<PropertyTypesStats>("https://localhost:7000/api/statistics/property-types");
            RoomStats = await client.GetFromJsonAsync<RoomTypesStats>("https://localhost:7000/api/statistics/room-types");
            ReviewsStats = await client.GetFromJsonAsync<ReviewsPerDateStats>("https://localhost:7000/api/statistics/reviews");
            await JS.InvokeVoidAsync("setMap.reviews", ReviewsStats);
            await JS.InvokeVoidAsync("setMap.neighbourhood", NeighbourStats);
            await JS.InvokeVoidAsync("setMap.property", PropertyStats);
            await JS.InvokeVoidAsync("setMap.room", RoomStats);
        }
    }

}