@page "/admin"
@using Microsoft.AspNetCore.Authorization
@inject IJSRuntime JS

<h3>Admin</h3>
<div style="max-width: 500px; max-height: 500px;">
    <canvas id="myChart" width="400px" height="400px"></canvas>
</div>

@code { 
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("setMap");
        }
    }
}